
<div class="main-content">
    <div class="header">
        <h1>Welcome to the  Super Admin Dashboard</h1>
    </div>
    <div class="cards">
        <a href="/dashboard/super_admin/student">
            <div class="card student-info" id="student-info">
                <i class="fas fa-user-graduate"></i>
                <h3>Student Information</h3>
                <p>Manage student details and academic records.</p>
            </div>
        </a>
        <div class="card fee-billing" id="fee-billing">
            <i class="fas fa-file-invoice-dollar"></i>
            <h3>Fee & Billing</h3>
            <p>Handle student fees and billing information.</p>
        </div>
        <div class="card exams" id="exams">
            <i class="fas fa-pencil-alt"></i>
            <h3>Exams</h3>
            <p>Manage exams, schedules, and assessments.</p>
        </div>
        <div class="card staff-info" id="staff-info">
            <i class="fas fa-chalkboard-teacher"></i>
            <h3>Staff Information</h3>
            <p>View and manage staff details.</p>
        </div>

        <div class="card staff-info" id="staff-info">
            <i class="fas fa-chalkboard-teacher"></i>
            <h3>Non Staff Information</h3>
            <p>View and manage staff details.</p>
        </div>

        <div class="card library" id="library">
            <i class="fas fa-book"></i>
            <h3>Library</h3>
            <p>Access library resources and information.</p>
        </div>
    </div>
</div>