<input type="checkbox" id="check">
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar p-0 m-0">
  <header>Student Pannel</header>
  <ul class="m-0">
    
    <li><a href="/dashboard/super_admin/student"><i class="fas fa-user"></i>Bio</a></li>
    <li class="dropdown">
      <a  class="dropbtn"><i class="fas fa-link"></i>Class<i class="fas fa-caret-down"></i></a>
      <div class="dropdown-content">
        <a href="/dashboard/super_admin/(student//mainbar:class;0=1)">Class 1</a>
        <a href="/dashboard/super_admin/(student//mainbar:class;0=2)">Class 2</a>
        <a href="/dashboard/super_admin/(student//mainbar:class;0=3)">Class 3</a>
        <a href="/dashboard/super_admin/(student//mainbar:class;0=4)">Class 4</a>
        <a href="/dashboard/super_admin/(student//mainbar:class;0=5)">Class 5</a>
        <a href="/dashboard/super_admin/(student//mainbar:class;0=6)">Class 6</a>
        <a href="/dashboard/super_admin/(student//mainbar:class;0=7)">Class 7</a>
        <a href="/dashboard/super_admin/(student//mainbar:class;0=8)">Class 8</a>
        <a href="/dashboard/super_admin/(student//mainbar:class;0=9)">Class 9</a>
        <a href="/dashboard/super_admin/(student//mainbar:class;0=10)">Class 10</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="#" id="marks" class="dropbtn"><i class="fas fa-book"></i> Marks</a>

      <div class="dropdown-content">
        <a href="/dashboard/super_admin/(student//mainbar:marks_table;0=1)">Class 1</a>
        <a href="/dashboard/super_admin/(student//mainbar:marks_table;0=2)">Class 2</a>
        <a href="/dashboard/super_admin/(student//mainbar:marks_table;0=3)">Class 3</a>
        <a href="/dashboard/super_admin/(student//mainbar:marks_table;0=4)">Class 4</a>
        <a href="/dashboard/super_admin/(student//mainbar:marks_table;0=5)">Class 5</a>
        <a href="/dashboard/super_admin/(student//mainbar:marks_table;0=6)">Class 6</a>
        <a href="/dashboard/super_admin/(student//mainbar:marks_table;0=7)">Class 7</a>
        <a href="/dashboard/super_admin/(student//mainbar:marks_table;0=8)">Class 8</a>
        <a href="/dashboard/super_admin/(student//mainbar:marks_table;0=9)">Class 9</a>
        <a href="/dashboard/super_admin/(student//mainbar:marks_table;0=10)">Class 10</a>
      </div>
    </li>
    <li><a href="#"><i class="fas fa-check-square"></i>Attendance</a></li>
  </ul>
</div>
<section></section>