@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  top:84px;
  position: fixed;
  left: -250px;
  width: 250px;
  height: 85%;
  background: #042331;
  transition: all .5s ease;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 55px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 16px;
  top: 15px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  position: fixed;
 
}
label #cancel{
  position: fixed;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #eaebeb;
  padding: 4px 9px;
  
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 100px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 27px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  /* background: url(bg.jpeg) no-repeat; */
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

.dropdown-content {
  display: none;
  position: static;
  background-color: #024464;
  min-width: 160px;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 78px;
}

.dropdown-content a {
  color: #b8c7ce;
  padding: 3px 10px;
  display: block;
  font-size: 12px;
}

.dropdown-content a:hover {
  background-color: #083949;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#check {
  display: none;
}