
<body>
    <div class="container-fluid">
        <div class="row top_bar w-100 ">
            <div class="col-12 header m-0">
                <app-topbar ></app-topbar>
            </div>
        </div>
        <div class="row">
            <div class="w-auto sidebar p-0 m-0 mycol">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col fit main" overflow-scroll >
                <router-outlet ></router-outlet>
            </div>
        </div>
    </div>
</body>

