<body>
    <h1>STUDENT RESULT SHEET</h1>
    <br>
    <br><br>
    
    <div class="student-info">
        <h3>
            STUDENT NAME: <span class="w-50 border  p-2">hello</span>
            REG NO: <input type="text" id="reg-no" class="info-input"> <button class="btn btn-primary">search</button>
        </h3>
    </div>

    <table>
        <thead>
            <tr>
                <th class="bg-secondary">Subject</th>
                <th class="bg-secondary">FA-1</th>
                <th class="bg-secondary">FA-2</th>
                <th class="bg-secondary">SA-1</th>
                <th class="bg-secondary">FA-3</th>
                <th class="bg-secondary"> FA-4</th>
                <th class="bg-secondary">SA-2</th>
                <th class="bg-secondary">PERCENTAGE</th>
                <th class="bg-secondary">GRADE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-light text-dark font-weight-bold">English</td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
            </tr>
            <tr>
                <td class="bg-light text-dark font-weight-bold">Hindi</td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
            </tr>
            <tr>
                <td class="bg-light text-dark font-weight-bold">Kannada</td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
            </tr>
            <tr>
                <td class="bg-light text-dark font-weight-bold">Science</td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
            </tr>
            <tr>
                <td class="bg-light text-dark font-weight-bold">Social</td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
            </tr>
            <tr>
                <td class="bg-light text-dark font-weight-bold">Maths</td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
                <td class="bg-light text-dark font-weight-bold"></td>
            </tr>
        </tbody>
        
    </table>
    
</body>